body,
html {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
/* First block */
.first-block {
  background-color: #eeeff1;
  max-height: 700px;
  width: 100%;
  margin-top: 57px;
}
.first-block__main {
  display: flex;
  flex-direction: column;
}
.first-block__nav {
  display: flex;
}
.first-block__icon {
  display: flex;
  flex: 0 1 40%;
  justify-content: flex-start;
}
.first-block__icon img {
  object-fit: contain;
  padding: 10px 0 0 10px;
}
.first-block__icon-container {
  height: 60px;
  width: 96px;
}
.first-block__items {
  display: flex;
  flex: 0 1 60%;
  text-transform: uppercase;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.first-block__items > li {
  padding: 0 20px 0 20px;
}
.first-block__body {
  margin-top: 162px;
}
.first-block__raw {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 146px;
}
.first-block__image {
  flex: 0 1 40%;
  margin: 20px 0 0 70px;
}
.first-block__text {
  flex: 0 1 60%;
  margin: 0 0 0 130px;
}
.first-block__text > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}
.first-block__text p {
  margin-top: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.first-block__button {
  display: block;
  width: 225px;
  height: 65px;
  margin-top: 60px;
  background-color: #34547a;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
}
/* Second block */
.second-block__about {
  margin: 119px auto 100px auto;
  max-width: 540px;
  max-height: 147px;
}
.block-header {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}
.block-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.second-block__project-list {
  background-color: #34547a;
  max-height: 250px;
  text-align: center;
  padding: 80px 0;
}
.second-block__project-item {
  max-width: 141px;
}
.second-block__project-item img {
  width: 100%;
  object-fit: contain;
}
/* Third block */
.third-block {
  padding: 102px 0;
}
.third-block__habits {
  display: flex;
}
.third-block__habits-list {
  flex: 0 1 595px;
  padding: 100px 145px 100px 0;
  box-sizing: border-box;
}
#habit {
  width: 445px;
  border-radius: 0;
  height: 4px;
}
.third-block__habits-list h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}
.third-block__image {
  flex: 0 1 555px;
}
.third-block__image img {
  width: 100%;
  object-fit: contain;
}
/* Fourth block */
.fourth-block {
  background-color: #eeeff1;
}
.fourth-block__about {
  margin: 0 auto;
  max-width: 540px;
  padding: 100px 0 57px 0;
}
.fourth-block__image {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.fourth-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Fifth block */
.fifth-block__body {
  display: flex;
  flex-direction: column;
}
.fifth-block__images {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.fifth-block__image {
  max-width: 480px;
  max-height: 480px;
}
.fifth-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#fifth-block-eyes {
  position: absolute;
  top: 175px;
  left: 670px;
  max-height: 100px;
  max-width: 100px;
}
.fifth-block__icons {
  margin: 72px auto 100px auto;
  display: flex;
}
.fifth-block__icon {
  margin: 0 15px;
}
/* Sixth block */
.sixth-block {
  background-color: #eeeff1;
}
.sixth-block__about {
  margin: 0 auto 65px auto;
  max-width: 540px;
  padding-top: 100px;
}
.sixth-block__form {
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
}
#sixth-block__name,
#sixth-block__email {
  max-width: 245px;
  max-height: 50px;
  padding: 10px 105px 10px 5px;
  background-color: #ffffff;
  border: none;
}
#sixth-block__email {
  margin-left: 30px;
}
#sixth-block__text {
  max-height: 175px;
  max-width: 540px;
  border: none;
  padding-bottom: 170px;
  width: 100%;
}
#sixth-block__send {
  margin: 50px auto 100px auto;
  max-width: 190px;
  max-height: 55px;
  padding: 10px 30px;
  background-color: #34547a;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* Seventh block */
.seventh-block {
  background-color: #34547a;
}
.seventh-block__raw {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.seventh-block__text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}
.seventh-block__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
.seventh-block__icons {
  align-items: center;
  display: flex;
}
.seventh-block__icon {
  margin-left: 22px;
}
